<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrowCast"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="cae6d8c4b4msh36f9ccfb43058c8p1872f9jsnf80db829f449" />

        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signup" />
        <activity android:name=".user" />
        <activity android:name=".forgot" />
        <activity android:name=".page1" />
        <activity android:name=".shop" />
        <activity android:name=".flowerscroll" />
        <activity android:name=".fruitscroll" />
        <activity android:name=".vegscroll" />
        <activity android:name=".weather" />
        <activity android:name=".ashoka" />
        <activity android:name=".bluebell" />
        <activity android:name=".cactus" />
        <activity android:name=".calendula" />
        <activity android:name=".dahlia" />
        <activity android:name=".frangipani" />
        <activity android:name=".hibiscus" />
        <activity android:name=".jasmine" />
        <activity android:name=".lily" />
        <activity android:name=".mangolia" />
        <activity android:name=".marigold" />
        <activity android:name=".orchid" />
        <activity android:name=".rose" />
        <activity android:name=".sunflower" />
        <activity android:name=".tulip" />


    </application>

</manifest>